/* https://www.sanity.io/docs/styling */

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
  --brand-primary: #546050;
  --brand-primary--inverted: #dee1d5;
  --brand-secondary: #f5e3e0;
  --brand-secondary--inverted: #b15d5d;

  --font-family-base: 'Nunito';
}
